@import '../../variables';

.input {
  display: inline-block;
  width: 100%;
  border: 1px solid;
  border-color: $input-border;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  outline: 0 solid lighten($primary, 50%);
  transition: all 0.1s ease-out;

  &:focus {
    border-color: $primary;
    outline: 0.2rem solid lighten($primary, 50%);
  }
}

.label {
  color: $label;
  font-size: 0.8rem;
}
