@import '../../variables';

.input {
  display: block;
  width: 100%;
  border: 0.05rem solid;
  border-color: $input-border;
  margin: 0.5rem 0 1rem;
  padding: 0 0.8rem;
  height: 2.2rem; // Use height instead of y-axis padding to prevent chrome from cutting letters.
  outline: none;
  transition: all 0.1s ease-out;

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.2rem lighten($primary, 50%);
  }
}

.label {
  color: $label;
  font-size: 0.8rem;
}
