@import '../../variables';

.panel {
  // Position.
  // This fixes the inconsistent scrolling and clippping behavior produced by `100vh, 100vw` on mobile browsers.
  // E.g. Chrome Android treats 100vh as 100% of the screen's size, not the window height, causing the url bar to clip content when it is visible.
  // https://developers.google.com/web/updates/2016/12/url-bar-resizing
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  // Styles
  background-color: white;
  margin: auto;

  // Flex
  display: flex;

  // Fullscreen on mobile, smaller on desktop. Width can be reduced up to the breakpoint's size.
  @media (min-width: $bp-desktop) {
    position: static;
    min-width: $bp-desktop;
    width: 55vw;
    height: 55vh;
    box-shadow: 0 0 5px 1px lightgray;
  }
}

.squeezeable-section {
  // This always shows a scrollbar, even if not overflowing.
  // Could use 'auto', but it causes firefox to push content. Chrome is fine with both.
  overflow-y: scroll;
  // Take up min space on mobile and grow on desktop
  @media (min-width: $bp-desktop) {
    flex: 1;
  }
}

.form-section {
  flex: 1;
  overflow: auto;
  padding: 1rem;

  @media (min-width: $bp-desktop) {
    padding: 2rem;
  }
}
