@import '../../variables';

.details {
  flex: 1;
  display: none;
  margin-left: $list-tile-padding-x;

  // Show element only on desktop
  @media (min-width: $bp-desktop) {
    // Flex position
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.primary {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 0.2rem;

  &--selected {
    color: white;
  }
}

.secondary {
  font-size: 0.9rem;
  color: darken(white, 40%);

  &--selected {
    color: darken(white, 15%);
  }
}
