@import '../../variables';

// List tile details. Collapses on small screens.
.text-wrapper {
  display: none;

  // Show element only on desktop
  @media (min-width: $bp-desktop) {
    // Flex layout
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    // Styles
    flex: 1;
    margin-left: $list-tile-padding-x;
  }
}

// Primary text styles.
.primary {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 0.2rem;

  &--selected {
    color: white;
  }
}

// Secondary text styles.
.secondary {
  font-size: 0.9rem;
  color: darken(white, 40%);

  &--selected {
    color: darken(white, 15%);
  }
}
