// Breakpoints
$bp-desktop: 768px;

// Color codes
$primary: #1b68b3;
$body-bg: whitesmoke;
$user-selected-bg: $primary;
$user-hovered-bg: #e8e8e8;
$input-border: #ececec;
$label: grey;
$cancel-btn-bg: #f7f7f7;
$save-btn-bg: $primary;

// Sizes
$avatar-width: 3rem;
$avatar-height: 3rem;
$list-tile-height: 4rem;
