@import 'variables';

.panel {
  // Styles
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin: auto;

  // Flex
  display: flex;

  // Fullscreen on mobile, smaller on desktop. Width can be reduced up to the breakpoint's size.
  @media (min-width: $bp-desktop) {
    min-width: $bp-desktop;
    width: 60vw;
    height: 60vh;
    box-shadow: 0 0 5px 1px lightgray;
  }

  &__section {
    flex: 1;
    overflow: auto;
  }

  &__squeezeable-section {
    overflow: auto;
    // Take up min space on mobile and grow on desktop
    @media (min-width: $bp-desktop) {
      flex: 1;
    }
  }
}
