.panel {
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin: auto;

  /* Grid */
  display: grid;
  grid-template-columns: 7rem auto;
}
@media screen and (min-width: 768px) {
  .panel {
    width: 80vw;
    height: 60vh;
    box-shadow: 0 0 5px 0 lightgray;

    /* Grid */
    grid-template-columns: 1fr 1fr;
  }

  .list-item {
    grid-template-columns: 7rem 0;
  }
}

.panel__left {
  overflow: auto;
}

.panel__right {
  background-color: lightcoral;
  overflow: auto;
}

.list-item {
  height: 6rem;
  display: grid;
  grid-template-columns: 7rem auto;
}

.list-item:hover {
  background-color: #e8e8e8;
}
