@import './variables';
@import './normalize';

body {
  // Initial CRA fonts. Sans-serif type fallback matches the mockup's font type.
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: $bp-desktop) {
  #root {
    padding-top: 10vh;
  }

  body {
    background-color: whitesmoke;
  }
}
