@import 'variables';

.list-tile {
  height: $list-tile-height;
  display: flex;
  position: relative;
  cursor: pointer;
  z-index: 1;

  /* Pseudo-element for highlighting */
  &::before {
    // Position
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    // Styles
    background-color: $user-hovered-bg;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s linear;
  }

  // Modifier to show the highlight pseudo-el.
  &--with-hover {
    &:hover::before {
      opacity: 1;
      visibility: visible;
    }
  }

  // Modifier to change pseudo's color and show it steadily when selected.
  &--selected {
    &::before {
      background-color: $user-selected-bg;
      opacity: 1;
      visibility: visible;
    }
  }

  // Avatar el
  &__avatar {
    width: $avatar-width;
  }

  // Details el
  &__details {
    flex: 1;
    display: none;

    // Show element only on desktop
    @media (min-width: $bp-desktop) {
      display: block;
    }
  }
}
