@import 'variables';

.list-tile {
  height: 6rem;
  display: flex;
  position: relative;
  cursor: pointer;
  z-index: 1;

  /* Highlight on hover */
  &::before {
    // Positioning
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &--with-hover {
    &::before {
      // Styles
      background-color: #e8e8e8;
      opacity: 0;
      visibility: hidden;
      transition: all 0.1s linear;
    }

    &:hover::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &--selected {
    // &::before {
    background-color: #1b68b3;
    // }
  }

  // Avatar el
  &__avatar {
    width: 7rem;
  }

  // Details el
  &__details {
    flex: 1;
    display: none;

    // Show element only on desktop
    @media (min-width: $bp-desktop) {
      display: block;
    }
  }
}
